/* ================= Typography ================= */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''), url('Roboto-Thin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local(''), url('Roboto-ThinItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('Roboto-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local(''), url('Roboto-LightItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local(''), url('Roboto-Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('Roboto-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local(''), url('Roboto-MediumItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: local(''), url('Roboto-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bold;
  src: local(''), url('Roboto-BoldItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('Roboto-Black.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local(''), url('Roboto-BlackItalic.ttf') format('truetype');
  font-display: swap;
}

/* ================= css reset ================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--m3-font-size);
}

:root {
  /* ================= typography ================= */
  --m3-font-family: 'Roboto', sans-serif;
  --m3-font-size: 100%;
}

body {
  background: var(--m3-surface);
}

/* ==================  M3 Brand Color ================== */
body, body[data-theme='light'] {
  /* ======== primary ======== */
  --m3-primary: #6750a4;
  --m3-on-primary: #ffffff;
  --m3-primary-container: #eaddff;
  --m3-on-primary-container: #21005d;

  /* states */
  --m3-primary-hover: #6750a414; /* 8% opacity */
  --m3-primary-pressed: #6750a41f; /* 12% opacity */

  --m3-on-primary-hover: #ffffff14; /* 8% opacity */
  --m3-on-primary-pressed: #ffffff1f; /* 12% opacity */

  /* ======== secondary ======== */
  --m3-secondary: #625b71;
  --m3-on-secondary: #ffffff;
  --m3-secondary-container: #e8def8;
  --m3-on-secondary-container: #1d192b;

  /* states */
  --m3-on-secondary-container-hover: #1d192b14; /* 8% opacity */
  --m3-on-secondary-container-pressed: #1c192a1f; /* 12% opacity */

  /* ======== tertiary ======== */
  --m3-tertiary: #7d5260;
  --m3-on-tertiary: #ffffff;
  --m3-tertiary-container: #ffd8e4;
  --m3-on-tertiary-container: #31111d;

  /* ======== error ======== */
  --m3-error: #b3261e;
  --m3-on-error: #ffffff;
  --m3-error-container: #f9dedc;
  --m3-on-error-container: #410e0b;

  /* ======== surface ======== */
  --m3-surface: #fffbfe;
  --m3-surface-1: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.05),
      rgba(103, 80, 164, 0.05)
    ),
    #fffbfe;
  --m3-surface-2: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.08),
      rgba(103, 80, 164, 0.08)
    ),
    #fffbfe;
  --m3-surface-3: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.11),
      rgba(103, 80, 164, 0.11)
    ),
    #fffbfe;
  --m3-surface-4: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.12),
      rgba(103, 80, 164, 0.12)
    ),
    #fffbfe;
  --m3-surface-5: linear-gradient(
      0deg,
      rgba(103, 80, 164, 0.14),
      rgba(103, 80, 164, 0.14)
    ),
    #fffbfe;

  /* ======== neutral ======== */
  --m3-neutral-background: #fffbfe;
  --m3-neutral-on-background: #1c1b1f;
  --m3-neutral-surface: #fffbfe;
  --m3-neutral-on-surface: #1c1b1f;

  /* states */
  --m3-neutral-on-surface-hover: #1c1b1f14;

  /* ======== variant ======== */
  --m3-variant-surface: #e7e0ec;
  --m3-variant-on-surface: #49454f;
  --m3-variant-outline: #79747e;
  --m3-variant-outline-variant: #c4c4d0;

  /* ======== elevation ======== */
  --m3-elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --m3-elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --m3-elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --m3-elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --m3-elevation-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);

  /* ======== state layers ======== */
  --m3-state-layers-on-surface: #1c1b1f1f;
}

body[data-theme='dark'] {
  /* ======== primary ======== */
  --m3-primary: #d0bcff;
  --m3-on-primary: #381e72;
  --m3-primary-container: #4f378b;
  --m3-on-primary-container: #eaddff;

  /* states */
  --m3-primary-hover: #d0bcff14; /* 8% opacity */
  --m3-primary-pressed: #d0bcff1f; /* 12% opacity */

  --m3-on-primary-hover: #381e7214; /* 8% opacity */
  --m3-on-primary-pressed: #381e721f; /* 12% opacity */

  /* ======== secondary ======== */
  --m3-secondary: #ccc2dc;
  --m3-on-secondary: #332d41;
  --m3-secondary-container: #4a4458;
  --m3-on-secondary-container: #e8def8;

  /* states */
  --m3-on-secondary-container-hover: #e8def814;
  --m3-on-secondary-container-pressed: #e8def81f;

  /* ======== tertiary ======== */
  --m3-tertiary: #efb8c8;
  --m3-on-tertiary: #492532;
  --m3-tertiary-container: #633b48;
  --m3-on-tertiary-container: #ffd8e4;

  /* ======== error ======== */
  --m3-error: #f2b8b5;
  --m3-on-error: #601410;
  --m3-error-container: #8c1d18;
  --m3-on-error-container: #f9decd;

  /* ======== surface ======== */
  --m3-surface: #1c1b1f;
  --m3-surface-1: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.05),
      rgba(208, 188, 255, 0.05)
    ),
    #1c1b1f;
  --m3-surface-2: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.08),
      rgba(208, 188, 255, 0.08)
    ),
    #1c1b1f;
  --m3-surface-3: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.11),
      rgba(208, 188, 255, 0.11)
    ),
    #1c1b1f;
  --m3-surface-4: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.12),
      rgba(208, 188, 255, 0.12)
    ),
    #1c1b1f;
  --m3-surface-5: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.14),
      rgba(208, 188, 255, 0.14)
    ),
    #1c1b1f;

  /* ======== neutral ======== */
  --m3-neutral-background: #1c1b1f;
  --m3-neutral-on-background: #e6e1e5;
  --m3-neutral-surface: #1c1b1f;
  --m3-neutral-on-surface: #e6e1e5;

  /* states */
  --m3-neutral-on-surface-hover: #e6e1e514; /* 8% opacity */

  /* ======== variant ======== */
  --m3-variant-surface: #49454f;
  --m3-variant-on-surface: #cac4d0;
  --m3-variant-outline: #938f99;
  --m3-variant-outline-variant: #49454f;

  /* ======== elevation ======== */
  --m3-elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --m3-elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --m3-elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --m3-elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --m3-elevation-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);

  /* ======== state layers ======== */
  --m3-state-layers-on-surface: #e6e1e51f;
}

